<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>FreedomVoice</string>
	<key>CFBundleIdentifier</key>
	<string>com.freedomvoice.mobileapp</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.45</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>XSAppIconAssets</key>
	<string>Resources/Media.xcassets/AppIcons.appiconset</string>
	<key>UIPrerenderedIcon</key>
	<false/>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIMainStoryboardFile~ipad</key>
	<string>MainStoryboard</string>
	<key>CFBundleName</key>
	<string>FreedomVoice</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Access to your photos allows you save images to your camera roll.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Turn on location Services to enhance your in app experience.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Turn on location Services to enhance your in app experience.</string>
	<key>NSContactsUsageDescription</key>
	<string>Access to your contacts allows you identify who is calling or texting your FreedomVoice number. Your contacts are never stored on FreedomVoice servers.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>voip</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>XSLaunchImageAssets</key>
	<string>Resources/Media.xcassets/LaunchImage.launchimage</string>
	<key>CFBundleVersion</key>
	<string>2</string>
</dict>
</plist>
